
.number{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 2em;
  margin-top: 5px;
}
body{
  background: #101626;
  color: white !important;
}
.navbar{
  background: transparent !important;
  color: aliceblue !important;
}

.curser-pointer{
  cursor: pointer;
}
.addFavourit{
  color: aliceblue;
  background: #473f3f;
  width: 100%;
  opacity: 0;
}
.movieFavourit:hover  .addFavourit{
  opacity: 1;
  cursor: pointer;
}